<ion-view title="VIDA Login">
  <ion-content padding="true" class="has-header">
    <div>
      <p>
        Log in with your
        <b>VIDA</b> account
      </p>
    </div>
    <form>
      <div class="spacer" style="width: 300px; height: 18px;"></div>
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" placeholder="" ng-model="credentials.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" placeholder="" ng-model="credentials.password">
        </label>
      </ion-list>
      <div class="text-center" ng-if="loginRequest > 0">
        <ion-spinner icon="ripple"></ion-spinner>
      </div>
      <div ng-if="loginRequest <= 0">
        <div class="spacer" style="height: 30px;"></div> <!--Test-->
      </div>
      <button class="button button-positive button-block" ng-click="login('/tabs')">Log in</button>
      <a href="#/signup" class="button button-positive button-clear button-block ">Or request an account</a>
    </form>
  </ion-content>
</ion-view>