<ion-view title="{{'title_details' | translate}}">
  <ion-content padding="true" class="has-header">
    <div ng-if="peopleService.getRetrievedPersonByID() !== undefined">
      <div class="text-center">
        <!-- Somehow store peopleService.getRetrievedPersonByID() into one object? -->
        <!-- If they have a picture name, retrieve it -->
        <img ng-if="peopleService.getRetrievedPersonByID().pic_filename !== ''" style="max-width: 400px; max-height: 500px;"
             ng-src="{{peopleService.getPersonalImage(peopleService.getRetrievedPersonByID().pic_filename)}}"
            err-src="{{peopleService.getPlaceholderImage()}}" width="100%" height="100%">
        <!-- If they don't have a picture name,  don't bother retrieving it -->
        <img ng-if="peopleService.getRetrievedPersonByID().pic_filename === ''" style="max-width: 400px; max-height: 500px;"
             ng-src="{{peopleService.getPlaceholderImage()}}">
        <h2>{{peopleService.getRetrievedPersonByID().given_name || ""}}</h2>
        <b>{{'person_family_name' | translate}}:</b><p>{{peopleService.getRetrievedPersonByID().family_name || " "}}&nbsp;</p>
        <b>{{'person_fathers_given_name' | translate}}:</b><p>{{peopleService.getRetrievedPersonByID().fathers_given_name || " "}}&nbsp;</p>
        <b>{{'person_mothers_given_name' | translate}}:</b><p>{{peopleService.getRetrievedPersonByID().mothers_given_name || " "}}&nbsp;</p>
        <b>{{'person_age' | translate}}:</b><p>{{peopleService.getRetrievedPersonByID().age || " "}}&nbsp;</p>
        <b>{{'person_date_of_birth' | translate}}:</b><p>{{peopleService.getRetrievedPersonByID().date_of_birth || " "}}&nbsp;</p>
        <b>{{'person_street_and_number' | translate}}:</b><p>{{peopleService.getRetrievedPersonByID().street_and_number || " "}}&nbsp;</p>
        <b>{{'person_city' | translate}}:</b><p>{{peopleService.getRetrievedPersonByID().city || " "}}&nbsp;</p>
        <b>{{'person_neighborhood' | translate}}:</b><p>{{peopleService.getRetrievedPersonByID().neighborhood || " "}}&nbsp;</p>
        <b>{{'person_gender' | translate}}:</b><p>{{peopleService.getRetrievedPersonByID().gender || " "}}&nbsp;</p>
        <b>{{'person_nationality' | translate}}:</b><p>{{peopleService.getRetrievedPersonByID().nationality || " "}}&nbsp;</p>
        <b>{{'person_status' | translate}}:</b><p>{{peopleService.getRetrievedPersonByID().status || " "}}&nbsp;</p>
        <b>{{'person_injury' | translate}}:</b><p>{{peopleService.getRetrievedPersonByID().injury || " "}}&nbsp;</p>
        <b>{{'person_description' | translate}}:</b><p>{{peopleService.getRetrievedPersonByID().description || " "}}&nbsp;</p>
        <b>{{'person_barcode' | translate}}:</b><p>{{peopleService.getRetrievedPersonByID().barcode || " "}}&nbsp;</p>
        <div id="shelterID" ng-if="peopleService.getRetrievedPersonByID().shelter_id !== null">
          <b>{{'person_current_shelter' | translate}}:</b><p>{{shelterService.getCurrentShelter().str}} &nbsp;<a ng-if="shelterService.getCurrentShelter().link !== 'None'"
                                                                                                                 class="icon ion-chevron-right trigger"
                                                                                                                 ng-click="goToShelterDetail()"
                                                                                                                 href="{{shelterService.getCurrentShelter().link}}"></a></p>
        </div>
        </div>
      <button ng-if="isDisconnected === false" class="button button-block" ng-click="SaveOutPerson()">Save Locally</button>
      </div>
    <div ng-if="searchPersonRequest > 0">
      <div class="text-center">
        <ion-spinner icon="ripple"></ion-spinner>
      </div>
    </div>
    <div ng-if="searchPersonRequest <= 0">
      <div ng-if="peopleService.getRetrievedPersonByID() === undefined">
        <div class="text-center">
          <p>
            {{'error_retrieving_info' | translate}}
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
