<ion-view title="{{'title_details' | translate}}">
  <ion-content padding="true" class="has-header">
    <div ng-if="peopleService.getRetrievedPersonByID() !== undefined">
      <div class="text-center">
        <!-- Somehow store peopleService.getRetrievedPersonByID() into one object? -->
        <img style="max-width: 400px; max-height: 500px;" ng-src="{{networkService.getFileServiceURL()}}{{peopleService.getRetrievedPersonByID().pic_filename}}/download/"
            err-src="{{peopleService.getPlaceholderImage()}}" width="100%" height="100%">
        <h2>{{peopleService.getRetrievedPersonByID().given_name || ""}}</h2>
        <p>
          {{'person_family_name' | translate}}: {{peopleService.getRetrievedPersonByID().family_name || ""}}
        </p>
        <p>
          {{'person_fathers_given_name' | translate}}: {{peopleService.getRetrievedPersonByID().fathers_given_name || ""}}
        </p>
        <p>
          {{'person_mothers_given_name' | translate}}: {{peopleService.getRetrievedPersonByID().mothers_given_name || ""}}
        </p>
        <p>
          {{'person_age' | translate}}: {{peopleService.getRetrievedPersonByID().age || ""}}
        </p>
        <p>
          {{'person_date_of_birth' | translate}}: {{peopleService.getRetrievedPersonByID().date_of_birth || ""}}
        </p>
        <p>
          {{'person_street_and_number' | translate}}: {{peopleService.getRetrievedPersonByID().street_and_number || ""}}
        </p>
        <p>
          {{'person_city' | translate}}: {{peopleService.getRetrievedPersonByID().city || ""}}
        </p>
        <p>
          {{'person_gender' | translate}}: {{peopleService.getRetrievedPersonByID().gender || ""}}
        </p>
        <p>
          {{'person_description' | translate}}: {{peopleService.getRetrievedPersonByID().description || ""}}
        </p>
        <p>
          {{'person_barcode' | translate}}: {{peopleService.getRetrievedPersonByID().barcode || ""}}
        </p>
        </div>
      </div>
    <div ng-if="searchPersonRequest > 0">
      <div class="text-center">
        <ion-spinner icon="ripple"></ion-spinner>
      </div>
    </div>
    <div ng-if="searchPersonRequest <= 0">
      <div ng-if="peopleService.getRetrievedPersonByID() === undefined">
        <div class="text-center">
          <p>
            {{'error_retrieving_info' | translate}}
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
