<ion-view title="{{'title_settings' | translate}}">
  <ion-pane>
    <ion-content padding="true" class="has-header">
      <form>
        <ion-toggle id="disconnected_switch" ng-model="b_disconnected" ng-change="changeDisconnected()"
                    toggle-class="toggle-positive">Disconnected Mode</ion-toggle>

        <button class="button button-positive button-block" ng-click="updateSyncDatabase()">{{button_update_database_str}}</button>

        <label class="item item-input item-select">
          <span class="input-label">{{'settings_language' | translate}}</span>
          <select ng-init="current_language == current_language || language_options[0]" ng-change="switchLanguage()"
                  ng-model="current_language"
                  ng-options="option.name | translate for option in language_options">
          </select>
        </label>
        <div>
          <label class="item item-input">
            <span class="input-label">{{'settings_server_ip' | translate}}:</span>
            <input type="text" placeholder="" ng-model-options='{debounce: 1500}' ng-change="saveServerIP(networkAddr)" ng-model="networkAddr">
          </label>
        </div>
        <div class="text-center">
          <b>Logged in as:</b>
          <p>{{networkService.getUsernamePassword().username || "Not Logged In"}}</p>
        </div>
        <br>
        <button class="button button-positive button-block" ng-click="logout('/login')">{{'button_logout' | translate}}</button>
      </form>
    </ion-content>
  </ion-pane>
</ion-view>